<div>
<div>

</div>

  <h4>Click on a speciality to see registered doctors for this field</h4>
  <ul class="nav flex-column">
    <li role="presentation" (click)="showAll()"><a style="cursor: pointer;"><font color="blue">All</font></a></li>
    <li role="presentation" (click)="onSelect('PHYSICIST')"><a style="cursor: pointer;"><font color="blue">Physicists</font></a></li>
    <li role="presentation" (click)="onSelect('PEDIATRICIAN')"><a style="cursor: pointer;"><font color="blue">Pediatricians</font></a></li>
    <li role="presentation" (click)="onSelect('CARDIOPHYSICIAN')"><a style="cursor: pointer;"><font color="blue">Cardio-Physicians</font></a></li>
  </ul>
 
<hr>

  
<h1 *ngIf="setSpeciality != 'All' && setSpeciality != '' ">All {{setSpeciality}}s </h1>
<h1 *ngIf="setSpeciality == 'All'">All Doctors</h1>

<hr/>
<div class="panel panel-info pb-5"  *ngFor="let doctor of doctors">
  <div class="panel-heading"><strong>Doctor {{doctor.firstName}} {{doctor.lastName}}</strong></div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item"><strong>Email</strong>: {{doctor.email}}</li>
      <li class="list-group-item"><strong>Speciality</strong>: {{doctor.speciality}}</li>
    </ul>
    <div>
      <button type="button" (click)="selectedDoctor = doctor">Change first name
      </button>
      <button type="button" (click)="deleteDoctor(doctor)">Delete Doctor
      </button>
    </div>
    <form *ngIf="selectedDoctor == doctor" (ngSubmit) = "onChangeFirstName()">
    	<input type="text" name="firstName" id="firstName" placeholder="new Firstname" required [(ngModel)]="firstName">
    	<input type="submit" value="Submit">
    </form>
  </div>
</div>
<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
</div>
