@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

a:visited {
    color: blue;
}

a:link {
	color:blue;
}

a:hover {
	color:darkblue;
}

h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

